/*
Theme Name: Panda子主题
Theme URI: https://www.scbkw.com/
Template: zibll
Author: 苏晨互联
Author URI: https://www.scbkw.com/
Description: Panda子主题
Version: 8.2
Requires PHP: 7.0-8.5
Tags: Panda子主题
*/